
body {
    overflow-y: hidden;
}

p {
    line-height: 1 !important;
    margin: 0 !important;
}

@font-face {
	font-family: 'PT Astra Sans';
	src: url("./fonts/PT-Astra-Sans_Regular.ttf");
	font-weight: 400;
    font-style: regular;
}

@font-face {
	font-family: 'PT Astra Sans';
	src: url("./fonts/PT-Astra-Sans_Bold.ttf");
	font-weight: 700;
    font-style: bold;
}

@font-face {
	font-family: 'PT Astra Sans';
	src: url("./fonts/PT-Astra-Sans_Bold-Italic.ttf");
	font-weight: 700;
    font-style: italic;
}

@font-face {
	font-family: 'PT Astra Sans';
	src: url("./fonts/PT-Astra-Sans_Italic.ttf");
	font-weight: 400;
    font-style: italic;
}


.content-segment {
    height: var(--height-content);
    display: flex !important;
    flex-direction: column;
}

.conetnt-fill-segment {
    flex-grow: 1;
    margin:0 !important;
    overflow-y: auto;
    overflow-x: hidden;
}
.conetnt-fill-segment::-webkit-scrollbar-thumb {
  background-color: #163E6C !important;
  border-radius: 2px;
}
.conetnt-fill-segment::-webkit-scrollbar {
  width: 4px;
}

.find-logo {
    height: 100%;
    width: 100%;
    opacity: 0.1;
}

/*Фиксация заголовков!!!!*/
.ui.table thead tr:first-child > th {
     position: sticky !important;
     top: 0;
     z-index: 50;
}

.ui.table tbody>tr:last-child>td { 
    border-bottom: 1px solid rgba(34,36,38,.1);
}

.ui.table { 
    background: none;
}

.ui.table tr { 
    cursor: pointer;
    user-select: none;
}

.ui.form .disabled.fields .field, .ui.form .disabled.field, .ui.form .field :disabled {
    pointer-events: none;
    opacity: 0.90 !important;
}